* {
  font-family: "Jost", sans-serif;
  list-style: none;
}
.home-section {
  height: 100vh;
  width: 100%;
  background: #f0f5f9;
  overflow: hidden;
}
.Feature-section {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.author-best-book {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.books-top-feature{
  height: 90vh;
  width: 100%;
  background-color:#f0f5f9 ;
}
.Author-collection {
  width: 100%;
  height: 100vh;
}